@model IEnumerable<Game_Store_Web_Front.Models.GetGameDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">@item.GameName</a>
                   Share: @LinkShare.GetHtml(this.Url.ToString(), linkSites: new[]{
                           LinkShareSite.Reddit, LinkShareSite.Facebook, LinkShareSite.Twitter})
                        <button type="button" id="deleteButton @item.Id" onclick="deleteGame(@item.Id)" class="pull-right btm btn-danger"  value="Delete">Delete</button>
                        <button type="button" id="editButton @item.Id" onclick="window.location.href='/game/edit/@item.Id'" class="pull-right btm btn-warning" value="Edit">Edit</button>
                        
                </h4>
            </div>
            <div id="@item.Id" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Inventory: @item.InventoryStock</p>
                    <p>Price: @item.Price</p>
                    <p>Release Date: @item.ReleaseDate.ToString("MMMM d, yyyy")</p>
                    <p>Tags: 
                        <ul>
                            @foreach (var tag in item.Tags)
                            {

                                <li>
                                    @tag.Name
                                </li>

                            }
                        </ul>
                    </p>
                    <p>
                        Genres:
                        <ul>
                            @foreach (var genre in item.Genres)
                            {

                                <li>
                                    @genre.Name
                                </li>

                            }
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


    <script>
        function deleteGame(deleteId) {
            var temp = deleteId
            $.ajax({
                contentType: 'application/json',
                type: 'POST',
                url: '/Game/Delete',
                data: JSON.stringify({ id: deleteId }),
                success: function (data) {
                    console.log("GOT IT");
                    window.location.href = data.Url
                },
                error: function () {
                    console.trace();
                }
            });

        }

    </script>
