@model IEnumerable<Game_Store_Web_Front.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    @Html.ValidationSummary(true)    
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApiKey)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApiKey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @{var thing = item.Id;}
            <button type="button"  id="'deleteUserButton' + thing" value="Delete" name="Delete" onclick="'deleteUser(' + thing + ')'"/>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            
        </td>
    </tr>
}
    

</table>

<script>
    function deleteUser(id) {
        console.log(id)
    }
</script>